body{
    background-color: #e3d7bf;

}



table{
    text-align: center;
    margin-left: 100px;
}

table td:first-child {
    width: 300px;
    height: 50px;
  }
  table td:nth-child(2) {
    width: 300px;
    height: 50px;
  }
  table td:nth-child(3) {
    width: 300px;
    height: 50px;
  }
  table td:last-child {
    width: 300px;
    height: 50px;
  }

table td{
    border: #c7b69f 1px solid;



}

header {
    text-align: center;
    background-image: url(cielo.jpg);


}

h1 {
    background-image: url(cielo.jpg);


}

h2 {
    display: block;
    background-color: bisque;
    

}

p {
    color: black;
    width:720px;
  margin:0 auto;
}

u {
    color: blue;
}

img{

    margin-left: 270px;

}

form{
size: 20px;
margin-left: 150px;


}

.p1{

display: flex;
flex-direction: row-reverse;

}