body{display: flex;
	flex-direction: column;
	margin: 0px;
    background-color: #B59174;
}

header{background-color: #B59174;
   	height: 130px;
	text-align: center;
    background-image: url("");
  background-size: cover;
  background-position: center;
}

nav{
background-color: #b88b5c;
}

aside{background-image: url('poblado talayotico de ses paisses 12.12.18 - 002.jpeg');
	
}

article{background-color: #C3A98B;
	
	
}

section{
    background-color: #B59174;
	
}

footer{background-color: #623307;
	height: 30px;
    text-align: center;
}

p {
    color: black;
    width:720px;
  margin:0 auto;
}


a:visited{
    color: red;
}

img {
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-color: blue;
    display: block;
    
    
}

video {
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-color: orangered;
    display: block;
    
}

#mapa{
    text-align: center;
}

table{
    border: px black;
    width:720px;
  margin: auto;
 border-collapse: collapse;
}

h1, h2{
   text-align: center;
}

