body{display: flex;
	flex-direction: column;
	margin: 0px;
    background-color: #B59174;
}

header{background-color: #B59174;
   	height: 130px;
	text-align: center;
    background-image: url("");
  background-size: cover;
  background-position: center;
}

nav{
background-color: #b88b5c;
}

aside{background-color: #b88b5c;
	height: 600px;
}

article{background-color: #C3A98B;
	
	
}

selection{
    background-color: #C3A98B;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer{background-color: #623307;
	height: 30px;
    text-align: center;
}

p {
    color: black;
    width:720px;
  margin:0 auto;
}


a:visited{
    color: red;
}

img {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-color: blue;
    
}

video {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-color: orangered;
    
    
}

#mapa{
    text-align: center;
}

table{
    border: 1px black;
    width:720px;
  margin:0 auto;
 border-collapse: collapse;
}

h1, h2{
    width:720px;
    margin:0 auto;
}