

body{display: flex;
	flex-direction: column;
	margin: 0px;
}

header{background-color: #B59174;
   	height: 100px;
	text-align: center;
    background-image: url(sonfred.jpg.webp);

}

aside{background-image: url(MG_0971-Editar-Editar.webp);
	height: 600px;
    width: auto;
}

article{background-color: #e3d7bf;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main{
    background-image: url(sonfred.jpg.webp);
	height: auto; 
}

footer{background-color: #623307;
	height: 30px;
    text-align: center;
}

p {
    color: rgb(73, 62, 48);

}


a:visited{
    color: #CC3300;
}

img {
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-color: blue;
    display: block;
    
}


video {
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-color: orangered;
    display: block;
}

iframe {
    margin: 20px;
    padding: 20px;  
	 
}


#mapa{
    text-align: center;
}



h1, h2{
   text-align: center;
}
